PORT=5050
MONGODB_URI=mongodb://dasturchi:dasturchi@ac-bnlbn7n-shard-00-00.hawjzvs.mongodb.net:27017,ac-bnlbn7n-shard-00-01.hawjzvs.mongodb.net:27017,ac-bnlbn7n-shard-00-02.hawjzvs.mongodb.net:27017/google_drive_clone?ssl=true&replicaSet=atlas-e446ux-shard-0&authSource=admin&appName=Cluster
JWT_SECRET=super_secret_google_drive_jwt_key_2026
JWT_ACCESS_SECRET=access_secret_google_drive_2026_super_key
JWT_REFRESH_SECRET=refresh_secret_google_drive_2026_ultra_key
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLIENT_URL=http://localhost:5174

# Email SMTP (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
